﻿@using Raoke10086.Admin.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "LOG IN";
}
<div class="auth">
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <h1 class="auth-title">
                       饶客仲记 ADMIN
                </h1>
            </header>
            <div class="auth-content">
                <p class="text-xs-center">LOGIN TO CONTINUE</p>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post,new { @id="login-form"}))
                {
                    @Html.AntiForgeryToken();
                    <div class="form-group"> 
                        <label for="username">用户名</label>
                        @Html.TextBoxFor(m=>m.Email,new { @class= "form-control underlined", placeholder= "Your email address" })
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control underlined", placeholder = "Your password"})
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">登录</button>
                    </div>
                    @Html.ValidationSummary();
                }
            </div>
        </div>
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>