.order-msg-adress {
    width: 100%;
    position: relative;
    top: 0;
    background-color: #fff;
    padding: 14px 13px 12px 10px;
}

.order-msg-adress a {
    display: block;
    width: 100%;
}

.mt_new {
    padding: 0 0 10px 0;
    overflow: hidden;
    color: #252525;
}

.s1-phone {
    margin-left: 2.6em;
}

.mt_new .s1-name,
.mt_new .s1-phone {
    float: left;
    font-size: 1em;
    color: #252525;
    font-weight: bold;
    margin-left: 23px;
}

.mc {
    font-size: 14px;
    color: #232326;
    line-height: 22px;
    position: relative;
    padding-right: 10px;
    padding-left: 23px;
}

.location-pic {
    background: url(../image/check-sprites-5.png) no-repeat;
    background-position: -40px 0;
    background-size: 100px 100px;
    width: 12px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 0;
}

.s1-borderB {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: url(../image/location-border.png) repeat-x;
    background-size: 90px 2px;
}

.s-point {
    position: absolute;
    right: .625em;
    top: 50%;
    width: .5625em;
    height: 1em;
    margin-top: -0.5em;
    background: url(../image/right.png) no-repeat;
    background-size: .5625em 1em;
}

.order-middle {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    background-color: #fff;
}

.order-s-list {
    padding: 0 10px;
}

.order-con {
    padding-right: 60px;
    display: -webkit-box;
}

.order-i-img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 7px;
    position: relative;
}

.order-item {
    padding: 15px 0;
}

.order-i-img img {
    max-width: 100%;
}

.order-txt {
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 17px;
}

.order-s-m {
    -webkit-box-flex: 1;
}

.seven-return {
    margin-left: 10px;
    display: inline-block;
    height: 17px;
}

.seven-return img {
    vertical-align: middle;
    margin-right: 3px;
}

.sitem-r {
    position: absolute;
    top: 35px;
    right: 0;
    float: right;
    color: #f23030;
    font-size: 14px;
}

.icon-detailed {
    background: url(../image/icon-detailed.png) 0 0 no-repeat;
    background-size: 9px 9px;
    height: 9px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    margin: 0 0 0 4px;
    top: 0;
    right: 0;
    text-align: right;
    width: 18px;
}

.step5 {
    position: relative;
    background-color: #fff;
    padding: .2em 0 .2em .5625em;
    margin-top: 10px;
}

.step5 .s-item {
    padding: .4em .625em .4em 0;
    position: relative;
    line-height: 1.2em;
    overflow: hidden;
}

.step5 .sitem-l {
    float: left;
    font-size: 15px;
    color: #262629;
}

.step5 .sitem-r {
    float: right;
    font-size: 14px;
    color: #f23030;
    top: 5px;
    right: 10px;
}

.step2 {
    overflow: hidden;
    background-color: #fff;
    padding-left: 12px;
}

.pay-item {
    display: block;
    padding: 0 18px 0 0;
    position: relative;
}

.pay-deliver-title {
    font-size: 15px;
    line-height: 34px;
    position: absolute;
    top: 50%;
    left: 0;
    height: 30px;
    margin-top: -15px;
    color: #262629;
    padding: 0;
    float: none;
}

.pay-deliver-way {
    width: 100%;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 100px;
    text-align: right;
    color: #252525;
    display: inline;
}

.pay-way,
.deliver-way {
    font-size: 14px;
    color: #232326;
    display: block;
    text-align: right;
    padding-bottom: 10px;
    line-height: 15px;
}

.point-left {
    position: absolute;
    right: 0;
    top: 50%;
    width: 9px;
    height: 16px;
    margin-top: -8px;
    background: url(../image/right.png) no-repeat;
    background-size: .5625em 1em;
}

.deliver-time {
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
}

.small-goods-deliver {
    padding: 0 17px 10px 0;
}

.small-goods-deliver-time,
.big-goods-deliver-install-time {
    font-size: 14px;
    line-height: 17px;
    color: #232326;
    float: right;
    position: relative;
    text-align: right;
}

.clock-pic {
    background: url(../image/check-sprites-5.png);
    background-size: 100px 100px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-position: -58px 0;
    top: 1px;
    left: -22px;
}

.step2 a {
    display: block;
    width: 100%;
    height: 100%;
}

.pay-fix {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    width: 100%;
    max-width: 640px;
    position: fixed;
    bottom: 0;
    color: #f23030;
}

.pay-con {
    position: relative;
    float: left;
    font-size: 14px;
    text-align: right;
    width: 62.5%;
    line-height: 3.9em;
    padding-right: 13px;
}
.item2{
    padding: 0 0 15px 0;
    border-top: 1px solid #F8F8F8; 
}
.pay-btn {
    font-size: 1.125em;
    float: right;
    width: 37.5%;
    background: #f23030;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.pro-stock {
    height: 20px;
    line-height: 20px;
    padding-top: 8px;
    margin-bottom: 10px;
}

.spec-info em {
    padding: 2px 3px 0 15px;
    vertical-align: middle;

}
.spec-msg {
    line-height: 18px;
    float: left;
    font-size: 14px;
    color: #848689;
    padding-top: 2px;
}
.spec-info span {
    padding-left: 10px;
    font-size: 12px;
    color: #686868;
    vertical-align: middle;
}