#banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#banner .swiper-slide {
    position: relative;
    text-align: center;
}

#banner img {
    max-width: 100%;
}

.top-tabs {
    background-color: #fff;
    position: fixed;
    height: 50px;
/*    line-height: 50px;*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.top-tabs a {
    width: 50%;
    float: left;
    text-align: center;
    padding: 15px 0;
    color: #505050;
    display: block;
    border-bottom: 1px solid #f4f5f4;
}

.top-tabs a.a-active {
    color: #f15353;
    border-bottom: 1px solid #f15353;
    /*padding: 15px 0 16px;*/
}

.swiper-pagination-bullet-active {
    background: #f15353;
}

.pagination {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    width: 100%;
    text-align: center;
    right: 0;
}
.pagination span{
    margin:0 2px;
}
.goods-part {
    padding-left: 10px;
}

.bdr-tb {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-width: 1px 0 1px 0;
    background-color: #fff;
}

.basic-info .prod-title {
    position: relative;
    margin-top: 13px;
}

.prod-title .title-text {
    display: inline-block;
    font-size: 14px;
    color: #252525;
    margin-right: 30px;
}

.title-text .self-shopping-icon {
    display: inline-block;
    background-color: #f15353;
    color: #fff;
    font-style: normal;
    font-size: 12px;
    padding: 1px 4px;
    margin-left: 5px;
    border-radius: 4px;
    vertical-align: text-top;
    line-height: 14px;
    margin-top: 2px;
}

.basic-info .act-link {
    color: #f15353;
    margin-top: 8px;
    font-size: 13px;
    line-height: 18px;
    margin-right: 8px;
}

.basic-info .prod-price {
    font-size: 16px;
    /*    font-family: 'Helvetica';*/
    color: #f15353;
    margin-top: 10px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
}

.adress {
    position: absolute;
    right: 15px;
    top: 2px;
    font-size: 12px;
    color: #505050;
}

.pro-spec {
    margin-top: 9px;
    padding-left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.spec-desc {
    position: relative;
    /*            font-size: 0;*/
    line-height: 15px;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: 10px;
}

.spec-msg {
    line-height: 18px;
    margin-right: 8px;
    float: left;
    white-space: nowrap;
    height: 15px;
    display: inline-block;
    font-size: 14px;
    color: #848689;
}

.spec-info span {
    padding-left: 10px;
    font-size: 12px;
    color: #686868;
    vertical-align: middle;
}

.part-note-msg {
    line-height: 23px;
    float: left;
    margin: 0;
}

.pro-color {
    margin-top: 13px;
}

#color {
    margin-left: 38px;
    overflow: hidden;
}

#color a {
    height: 25px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    line-height: 23px;
    font-size: 13px;
    color: #686868;
    float: left;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    box-sizing: border-box;
}

#color a.selected {
    border: 1px solid #f15353;
    color: #f15353;
}

.pro-c-wrapper {
    display: inline-block;
    height: 24px;
    border-radius: 5px;
    margin-left: 10px;
}

.pro-c-wrapper a {
    background: #fff;
    border: 1px solid #848689;
    color: #666;
    display: block;
    line-height: 24px;
    width: 24px;
    overflow: hidden;
    text-indent: -200px;
}

.quantity-decrease, .quantity-increase {
    float: left;
    font-size: 13px;
    text-align: center;
    height: 100%;
}

.quantity-decrease em {
    background: url(../image/cart-number.png) no-repeat 0 -18px;
    background-size: 100%;
    height: 10px;
    width: 10px;
    display: block;
    margin: 7px;
}

.quantity {
    color: #333;
    border: solid #848689;
    border-width: 1px 0 1px 0;
    height: 24px;
    width: 39px;
    border-radius: 0;
    -webkit-appearance: none;
    float: left;
    font-size: 13px;
    text-align: center;
    height: 100%;
}

.quantity-increase em {
    background: url(../image/cart-number.png) no-repeat 0 0;
    background-size: 100%;
    height: 10px;
    width: 10px;
    display: block;
    margin: 7px;
}

.pro-stock {
    height: 20px;
    line-height: 20px;
    padding-top: 8px;
    margin-bottom: 10px;
}

.pro-stock-state span{
    color:#e9321f;
}

.spec-info em {
    padding: 2px 3px 0 15px;
    vertical-align: middle;

}

.pro-count {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 8px;
}

.commendeatil {
    margin-top: 10px;
    background-color: #fff;
}

.commendeatil .goodseval {
    padding: 12px 0;
    text-indent: 10px;
    color: #848689;
}

.c-good-img {
    padding: 0 10px 12px 10px;
    height: 100%;
}

.c-good-img img {
    max-width: 100%;
    display: block;
}

.shop-fix {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.shop-f-right {
    width: 80%;
}
.shop-f-left a {
     width: 100%;
    float: left;
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 18px;
    color: #d4d4d4;
    padding-top: 7px;
}

.shop-f-left {
    background-color: rgba(80,80,80,1);
    width: 20%;
}

.shop-f-left a em {
    display: block;
}

.shop-f-right a {
    width:100%;
    float: left;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 14px
}

.shop-f-right a:first-child {
    background-color: #ffb03f;
}

.shop-f-right a:last-child {
    background-color: #f15353;

}