﻿@using Raoke10086.Infrastructure.Extensions
@using Raoke10086.Service.Models
@using Raoke10086.Infrastructure.Enums
@model UpdateProductDto
@{
    ViewBag.Title = "Editor";
    PageData["PageID"] = "Product.Index";
    var AllCitySelectListItems = (ViewBag.AllCities as List<CityInListDto>).Select(x => new SelectListItem() { Value = x.Code, Text = x.Name });
    var CategorySelectListItems = (ViewBag.Categories as List<CategoryInListDto>).Select(x => new SelectListItem() { Value = x.ID.ToString(), Text = x.Name });
    var ServiceProviderSelectListItems = typeof(ServiceProvider).ToArrayList().ToArray().Select(x => {
        var item = (KeyValuePair<Enum, string>)x ;
        return new SelectListItem() { Value=item.Key.ToString(),Text=item.Value };
    });
}

@section styles{
    @Styles.Render("~/Content/simditor")
    }
@section scripts{
    @Scripts.Render("~/bundles/simditor")
    <script type="text/javascript">
        /*图片删除控件*/
        $(document).on("click", '.image-container .controls .remove', function (e) {
            var control = $(this);
            bootbox.confirm({
                title: "提醒",
                message: "Are you sure?",
                locale: "zh_CN",
                callback: function (result) {
                    if (result) {
                        control.parents('.image-container').remove();
                    }
                }
            });
        });
        $(document).ready(function () {
            var $preview, editor, mobileToolbar, toolbar;
            Simditor.locale = 'zh-CN';
            toolbar = ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment'];
            window.editor = new Simditor({
                textarea: $('#editor'),
                toolbar: toolbar,
                pasteImage: true,
                upload: {
                    domain: 'http://o6ss4fdk1.bkt.clouddn.com',
                    token: '@ViewBag.QiniuToken',
                    url: 'http://upload.qiniu.com',
                    fileKey: "file",
                    connectionCount: 3,
                    leaveConfirm: 'Uploading is in progres...'
                },
            });
        })

        /*图片上传*/
        var uploader = simple.uploader({
            domain: 'http://o6ss4fdk1.bkt.clouddn.com',
            token: '@ViewBag.QiniuToken',
            url: 'http://upload.qiniu.com',
            fileKey: "file",
            connectionCount: 3,
            leaveConfirm: 'Uploading is in progres...'
        });

        $('#select-file').on('change', function (e) {
            uploader.upload(this.files);
        });
        uploader.on('uploadsuccess', function (e, file, result) {
            addImage(result['file_path']);
        });
        function addImage(url) {
            $('.add-image').before('<div class="image-container">'
                                             + '<div class="controls">'
                                                  + '<a class="control-btn move"> <i class="fa fa-arrows"></i> </a>'
                                                  + '<a class="control-btn remove"><i class="fa fa-trash-o"></i> </a>'
                                             + '</div>'
                                             + '<div class="image" data-url="' + url + '" style="background-image:url(\'' + url + '\')"></div>'
                                  + '</div>');
        }

    </script>
}
<input type="file" id="select-file" style="display:none" />
<article class="content item-editor-page">
    <div class="title-block">
        <h3 class="title">
            发布商品 <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    @using (Html.BeginForm("Editor", "Product", new { @id = ViewBag.Id }, FormMethod.Post, new { @id = "product-editor-form" }))
    {
        <div class="card card-default">
            <div class="card-header">
                <div class="header-block">
                    <p class="title"> 基本信息 </p>
                </div>
            </div>
            <div class="card card-block">
                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        类目:
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.CategaryID, CategorySelectListItems, new { @class = "c-select form-control boxed" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        标题:
                    </label>
                    <div class="col-sm-10"> @Html.TextBoxFor(m => m.Title, new { @class = "form-control underlined", @placeholder = "限30字内" }) </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        商品类型:
                    </label>
                    <div class="col-sm-10">
                        <label>
                            @Html.RadioButtonFor(m => m.IsVirtual, false, new { @class = "radio squared", @checked = "checked" })
                            <span>实物商品</span>
                        </label>
                        <label>
                            @Html.RadioButtonFor(m => m.IsVirtual, true, new { @class = "radio squared" })
                            <span>虚拟商品</span>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        提供商:
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.ServiceProvider, ServiceProviderSelectListItems, new { @class = "c-select form-control boxed" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        发货城市:
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.City, AllCitySelectListItems, new { @class = "c-select form-control boxed" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                <div class="header-block">
                    <p class="title"> 库存/售价 </p>
                </div>
            </div>
            <div class="card card-block">
                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        售价:
                    </label>
                    <div class="col-sm-2 input-group">
                        @Html.TextBoxFor(m => m.SalePrice, new { @class = "form-control underlined", @placeholder = "需低于原价" })
                        <span class="input-group-addon">元</span>
                    </div>

                    <label class="col-sm-1 form-control-label text-xs-right">
                        原价:
                    </label>
                    <div class="col-sm-2 input-group">
                        @Html.TextBoxFor(m => m.OriginPrice, new { @class = "form-control underlined", @placeholder = "" })
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
               
                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        邮费:
                    </label>
                    <div class="col-sm-2 input-group">@Html.TextBoxFor(m => m.PostPrice, new { @class = "form-control underlined", @placeholder = "邮费为0元时显示包邮" })<span class="input-group-addon">元</span></div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        库存:
                    </label>
                    <div class="col-sm-2"> @Html.TextBoxFor(m => m.Stock, new { @class = "form-control underlined", @placeholder = "发布后商品同步更新" }) </div>
                </div>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header">
                <div class="header-block">
                    <p class="title"> 商品详情 </p>
                </div>
            </div>
            <div class="card card-block">
                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        图片:
                    </label>
                    <div class="col-sm-11">
                        <div class="images-container">
                            @foreach (var image in (Model?.Galleries)??new string[0])
                            {
                                <div class="image-container">
                                    <div class="controls">
                                        <a class="control-btn move"><i class="fa fa-arrows"></i> </a>
                                        <a class="control-btn remove"><i class="fa fa-trash-o"></i> </a>
                                    </div>
                                    <div class="image" data-url="@image" style="background-image:url('@image')"></div>
                                </div>
                            }

                            <a href="#" class="add-image" onclick="$('#select-file').click();">
                                <div class="image-container new">
                                    <div class="image"> <i class="fa fa-plus"></i> </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>



                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        简介:
                    </label>
                    <div class="col-sm-10">@Html.TextAreaFor(m => m.Introduction, new { @class = "form-control", @placeholder = "微信分享给好友时会显示这里的文案" })</div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 form-control-label text-xs-right">
                        详情:
                    </label>
                    <div class="col-sm-10">
                        <textarea id="editor" placeholder="商品详情" autofocus>
                            @(Model?.Details)
                        </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 col-sm-offset-1">
                        <button type="submit" class="btn btn-primary">
                            确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</article>