﻿
@{
    ViewBag.Title = "注册成为会员";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Raoke10086.Wechat.ViewModels.CreateAccountViewModel

<meta name="flexible" content="initial-dpr=2" />
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" media="all" />
<script src="~/Scripts/js/prefixfree.js"></script>

<style>
    body, html {
        background: #efeeef;
    }

    .control strong {
        line-height: 10px;
        display: block;
        padding-top: 6px;
        font-weight: 400;
    }

    ::-webkit-input-placeholder {
        color: #DDDEDD !important;
    }

    .per-tit {
        position: relative;
        background: #fff;
        display: block;
        height: 45px;
        border-bottom: 1px solid #dcdcdc;
        line-height: 45px;
    }

        .per-tit h2 {
            margin: 0;
            color: #505050;
            text-align: center;
            font-size: .42rem;
        }

    .return-a {
        position: absolute;
        left: 15px;
        z-index: 999;
        width: 30px;
        color: #505050;
        text-align: center;
        font-size: .36rem;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
    }

    .control .m-phone {
        float: left;
        width: 65%;
    }

    .control #btn-yz {
        float: right;
        padding: 11px 8px;
        width: 33%;
        border: 1px solid #f1662e;
        background: #f1662e;
        color: #fff;
        -webkit-appearance: none;
    }

    .btn-confirm {
        width: 100%;
        outline: 0;
        background: #f1662e;
        color: #fff;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
        -webkit-appearance: none;
        border: 0 !important;
    }

    .field-validation-error span {
        position: absolute;
        top: -27px;
        left: 2px;
        z-index: 9999;
        padding: 2px 5px;
        border-radius: 4px;
        background: #f1662e;
        color: #fff;
        font-size: 12px;
    }

        .field-validation-error span:after {
            position: absolute;
            left: 50%;
            display: block;
            margin-left: -5px;
            width: 0;
            height: 0;
            border-top: 7px solid #f1662e;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            content: '';
        }
</style>
<div class="container">
    <div class="bk1"></div>
    @using (Html.BeginForm("Create", "Account", FormMethod.Post))
    {
        @Html.HiddenFor(m=>m.Nickname);
        @Html.HiddenFor(m => m.Avatar);
        @Html.HiddenFor(m => m.Gender);
        @Html.HiddenFor(m => m.LoginProvider);
        @Html.HiddenFor(m => m.ProviderKey);

        <div class="control">
            @Html.TextBoxFor(m=>m.RealName,new {@class= "form-control", placeholder= "您的真实姓名" })
            <strong>请准确的输入您的真实姓名,否则微信无法完成转账</strong>
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "手机号" })
        </div>
        <div class="control">
            <div class="m-phone">
                @Html.TextBoxFor(m => m.VerifyCode, new { @class = "form-control", placeholder = "手机验证码" })
                <span class="field-validation-valid" data-valmsg-for="VerifyCode" data-valmsg-replace="true"></span>
            </div>
            <input type="button" class="btn" id="btn-yz" value="发送验证码">
        </div>

        <div class="control">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
        </div>

        <div class="control">
            <input type="submit" class="btn btn-confirm" name="" value="注册成为会员">
        </div>
    }  
</div>
<script>
    function authPhone() {
        var o = $('input[name="Phone"]').val();
        var reg = /^(1\d{10})|(1\d{2}-\d{4}-\d{4})$/i;
        var isValid = true;
        var errorMsg = "";
        if (!reg.test(o)) {
            errorMsg = "请输入11位的手机号";
            isValid = false;
        }
        if (!isValid) {
            alert(errorMsg);
        }
        return isValid;
    }
    $(document).ready(function () {
        var wait = 60;
        function time(obj) {
            if (wait == 0) {
                obj.removeAttribute("disabled");
                obj.value = "发送验证码";
                wait = 60;
            } else {
                obj.setAttribute("disabled", true);
                obj.value = "重新发送(" + wait + ")";
                wait--;
                setTimeout(function () {
                    time(obj)
                }, 1000);

            }
        }

        $("#btn-yz").click(function () {
             if (!authPhone()) {
                 return;
             }
             $.ajax({
                 type: 'POST',
                 url: "",
                 data: { Mobile: $('input[name="Mobile"]').val() },
             success: function (data) {
                 alert("验证码发送成功!");
             },
             error: function (xhr, errMsg, errObject) {
                 if (errMsg == "error") {
                     alert(errMsg);
                 }
                 // console.log(JSON.stringify(xhr));
                 // console.log(errMsg);
                 // console.log(errObject);
             }
         });
        time(this);
        });
    });
</script>

