﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "";
}
<link rel="stylesheet" href="~/Content/css/bounces.css" />
<script src="~/Scripts/js/prefixfree.js"></script>
<style>
    .bill-top-t {
            height: 1.47rem;
            line-height: 1.47rem;
            font-size: .35rem;
            background-color: #EBEBEB;
            border-radius: 4px 4px 0 0;
        }

        .bill-info img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin: 5px 0;
        }

        .bill-i-name {
            font-size: .35rem;
            color: #505050;
        }

        .bill-month {
            font-size: .35rem;
            margin: 10px 0;
        }

        .bill-month em {
            border-radius: 10px;
            background-color: #f35d68;
            color: #fff;
            padding: 0 10px;
            height:.39rem;
            font-size:.32rem;
            line-height:.39rem;
            display:inline-block;
            margin-left:5px;
        }

        .bill-t {
            margin: 0 8%;
            font-size: .35rem;
        }

        .b-t-p1 {
            margin-top: 12px;
        }

        .b-t-p1 em {
            font-weight: bold;
        }

        .b-t-p2 em {
            background-color: #f35d68;
            color: #fff;
            padding: 0 5px;
            border-radius: 10px;
            display: block;
            height:.39rem;
            line-height:.39rem;
            font-size:.32rem;
        }

        .b-t-p2 i {
            font-style: normal;
            color: #505050;
            font-size: .35rem;
        }

        .h2_to {
            color: #505050;
        }

        .h2_one {
            font-size: .32rem;
            color: #64f35d;
            margin-bottom: 5px;
        }

        .progress a {
            font-size: .35rem;
            color: #505050;
        }

        .bar {
            position: relative;
            width: 100%;
            border: 1px solid #E5E5E5;
            padding: 1px;
            background:#fff;
            border-radius: 5px;
            display: inline-block;
            overflow: hidden;
        }

        .bar > div {
            /*background: #59AA23;*/
            background-image: -webkit-linear-gradient(top,#7CCD48,#59AA23);
            display: block;
            position: relative;
            color: #333333;
            height: 7px;
            line-height: 7px;
            border-radius: 5px;
        }

        .progress {
            margin: 2% 8%;
            text-align: center;
        }

        .bill-show {
            top: 50px;
        }

        .dis-top {
            position: relative;
            padding: 5% 0 1%;
            background: #505050;
        }

        .dis-t-info {
            text-align: center;
        }

        .dis-t-img {
            display: inline-block;
            width: 1.75rem;
            height: 1.75rem;
            border: 1px solid #fff;
            border-radius: 50%;
        }

        .dis-t-img img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }

        .dis-t-name {
            text-align: center;
            font-size: .32rem;
            color: #fff;
        }

        .dis-t-recom {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #aaa;
            font-size: 12px;
            width: 120px;
            overflow: hidden;
            white-space: nowrap;
            text-align: right;
            text-overflow: ellipsis;
        }

        .dis-t-recom span {
            padding-left: 2px;
        }

        .dis-reward {
            height: 1.533rem;
            line-height: 1.533rem;
            border-bottom: 1px solid #f4f5f4;
            position: relative;
            overflow: hidden;
        }

        .dis-reward p:first-child {
            position: absolute;
            color: #aaaaaa;
            left: 0.91rem;
            top: 16px;
            font-size: 0.32rem;
        }

        .dis-r-color {
            color: #aaaaaa !important;
            font-weight: bold;
        }

        .dis-reward p:last-child {
            position: absolute;
            color: #f35d68;
            right: 15px;
            top: 15px;
            font-weight: bold;
            font-size: 0.48rem;
        }

        .dis-reward a {
            font-size: 18px;
            display: block;
            width: 50%;
            text-align: center;
        }

        .dis-reward a:first-child {
            float: left;
        }

        .dis-reward a:last-child {
            overflow: hidden;
            border-left: 1px solid #f4f5f4;
        }

        .dis-reward a span {
            font-size: 0.4rem;
            padding-left: 35px;
            color: #505050;
            font-weight: bold;
        }

        .r-bg1 {
            background: url("/Content/image/r1.png") no-repeat left center;
            background-size: 27px;
        }

        .r-bg2 {
            background: url("/Content/image/r2.png") no-repeat left center;
            background-size: 20px;
        }

        .r-bg3 {
            background: url("/Content/image/up.png") no-repeat left center;
            background-size: 20px;
        }

        .r-bg4 {
            background: url("/Content/image/personal.png") no-repeat left center;
            background-size: 20px;
        }

        .dis-main {
            background: #1EACC7;
            position: relative;
            margin-bottom: 0.93rem;
        }

        .dis-left {
            width: 50%;
            float: left;
            text-align: center;
            position: relative;
        }

        .dis-l-top p, .dis-l-b p {
            font-size: 0.32rem;
            color: #fff;
            width: 60%;
        }

        .dis-l-top p em, .dis-l-b p em {
            font-size: 0.48rem;
        }

        .dis-l-b {
            margin-top: 20%;
        }

        .dis-right {
            float: right;
            width: 50%;
        }

        .dis-l-top, .dis-l-b {
            text-align: right;
            margin: 10px 0;
            position: relative;
            border-left: 1px solid #fff;
        }

        .bb {
            border: none;
        }

        .dis-l-content {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -12px;
            color: #fff;
            text-align: center;
        }

        .dis-l-content strong {
            background-color: #fff;
            color: #1EACC7;
            border-radius: 10px;
            font-size: 0.32rem;
            height: 0.39rem;
            line-height: 0.39rem;
            display: block;
            width: 1.49rem;
            text-align: center;
        }

        .dis-up {
            display: block;
            font-size: 0.32rem;
        }

        .dis-text {
            margin: 16px;
            position: relative;
            margin-bottom: 0.85rem;
        }

        .dis-text-info {
            border: 1px solid #d8d8d8;
            border-radius: 5px;
            padding: 0.63rem 0.27rem 0.46rem 0.27rem;
        }

        .dis-text-info h3 {
            position: absolute;
            font-size: 0.56rem;
            color: #1EACC7;
            top: -15px;
            padding: 0 10px;
            display: block;
            width: 100%;
            left: 0;
            text-align: center;
        }

        .dis-text-info h3 em {
            background-color: #fff;
            padding: 0 10px;
        }

        .dis-text-info ul li, .dis-text-info p {
            color: #505050;
            line-height: 25px;
            font: 0.32rem"Lantinghei SC";
        }

        .dis-t-t2 p {
            width: 40%;
            text-align: center;
        }

        .dis-t-t2 p em {
            display: block;
            font-style: normal;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .dis-t-t2 {
            border-bottom: 1px solid #D5D5D5;
            /*padding-bottom:.8rem;*/
            padding: .67rem 0 .8rem 0;
            position: relative;
        }

        .dis-t-t2:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        .s1 {
            background: url("/Content/image/1.png") no-repeat top center;
        }

        .s2 {
            background: url("/Content/image/2.png") no-repeat top center;
        }

        .s3 {
            background: url("/Content/image/3.png") no-repeat top center;
        }

        .s4 {
            background: url("/Content/image/4.png") no-repeat top center;
        }

        .dis-t-t2 strong {
            font-weight: normal;
            position: absolute;
            left: 50%;
            transform: translate(-50%,-50%);
            padding-top: 25px;
            object-fit: cover;
            object-position: 50% 50%;
            background-size: contain;
            top: 55%;
        }

        .dis-t-t {
            margin-bottom: 20px;
        }

        .dis-t-t h2 {
            margin-bottom: 3px;
            font-weight: bold;
        }

        .dis-t-t2 p span {
            display: block;
            font-style: normal;
            margin-bottom: 10px;
        }

        .dis-t-t2 .fp em {
            font-weight: normal;
        }
        .pros-bg{
            background:#ebebeb;
            margin:0 15px;
            border-radius:5px;
            margin-bottom:20px;
            padding: 10px 0 0 5px;
        }
</style>
<div class="dis-top">
    <div class="dis-t-info">
        <div class="dis-t-img">
            <img src="image/0.jpeg" alt="" />
        </div>
        <p class="dis-t-name">YF</p>
    </div>
    <p class="dis-t-recom">推荐人:<span></span></p>
</div>
<div class="dis-reward">
    <p>奖励余额</p>
    <p>￥0.95</p>
</div>
<div class="dis-reward">
    <p>已转出奖励</p>
    <p class="dis-r-color">￥0.00</p>
</div>
<div class="dis-reward text-center" style="height:1.89rem;line-height:1.89rem">
    <a href="/market/roll"><span class="r-bg1">转出奖励</span></a>
    <a href="/market/proportion"><span class="r-bg2">奖励记录</span></a>
</div>
<div class="dis-reward text-center bb" style="height:1.89rem;line-height:1.89rem">

    <a href="/market/agent"><span class="r-bg4">查看下级</span></a>
    <a id="a_up"><span class="r-bg3">提升奖励</span></a>
</div>
<div class="dis-main clearfix">
    <div class="dis-left">
        <div class="dis-l-top bb">
            <p><em>19</em>位</p>
            <p>一级代理</p>
        </div>
        <div class="dis-l-content">
            <strong>15%奖励</strong>

        </div>
        <div class="dis-l-b bb">
            <p><em>0</em>元</p>
            <p>本月一级销售</p>
        </div>
    </div>
    <div class="dis-right">
        <div class="dis-l-top">
            <p><em>364</em>位</p>
            <p>二级代理</p>
        </div>
        <div class="dis-l-content">
            <strong>5%奖励</strong>

        </div>
        <div class="dis-l-b">
            <p><em>0.00</em>元</p>
            <p>本月二级销售</p>
        </div>
    </div>
</div>
<div class="dis-text">
    <div class="dis-text-info">
        <h3><em>关于教练好分润平台</em></h3>
        <div class="dis-t-t">
            <h2>独特优质的产品</h2>
            <p>甄选更加环保，健康，安全的产品</p>
            <p>健身会员刚需，复购率86%以上</p>
        </div>
        <div class="dis-t-t">
            <h2>完整的电商体系</h2>
            <p>拥有完整电商体系</p>
            <p>保证生产，保险，客服，配送全部环节</p>
        </div>
        <div class="dis-t-t">
            <h2>利润分享</h2>
            <p>首创健身产业链利润分红模式</p>
            <p>厂家直供，60%利润回馈消费者。</p>
            <p>无风险，零投入，可累加持续收入。</p>
        </div>
        <p style="margin-bottom: 10px">教练好并不是把利润送给广告商，而是将大部分的收入奖励给普通用户，我们相信用户的口碑就是最好的广告。</p>
        <p>对于帮助我们的用户，我们会给你们零风险致富的机会，让您拥有一份课累加的持续收入。</p>
    </div>

</div>
<div class="dis-text">
    <div class="dis-text-info">
        <h3><em>分润平台与微商的区别</em></h3>
        <div class="dis-t-t2 clearfix">
            <p class="text-left float-left"><em>分润平台</em>大品牌优质商品价格体系透明，高性价比</p>
            <p class="text-right float-right"><em>传统微商</em>贴牌，三无产品价格高出同类品10倍</p>
            <strong class="s1" style="bottom:5px;top:inherit;">产品</strong>
        </div>
        <div class="dis-t-t2 clearfix">
            <p class="float-left">零门槛 <br />无需进货囤货</p>
            <p class="float-right">以进货押金模式<br />收取人头费</p>
            <strong class="s2">门槛</strong>
        </div>
        <div class="dis-t-t2 clearfix">
            <p class="float-left" style="line-height:25px;">平台完成仓储销售<br>平台完成下单配送<br>平台完成支付交易<br>只负责引流</p>
            <p class="float-right" style="line-height:25px;">自己进货<br>自己压货<br>自己发货<br>六亲不认拉下线</p>
            <strong class="s3">经营</strong>
        </div>
        <div class="dis-t-t2 clearfix">
            <p class="float-left fp"><em>两级代理制度</em> <em>进入平台即绑定关系复购收入才能持续</em><em>有足够客户后<br>即可每月坐享粉红</em></p>
            <p class="float-right"><span>无限级代理,混乱不堪</span><span>必须持续推广<br>才有收益</span><span>每月都得拼命<br>直到被所有好友拉黑</span></p>
            <strong class="s4">收入</strong>
        </div>
    </div>

</div>
<!--弹出层-->
<div class="bill-show">
    <h2 class="bill-top-t">消费奖励提升</h2>
    <div class="bill-info">
        <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJXSI2wdBCueAqSAsTwgyAIiakGpfrnkWFxwXl4WFl05LpdoeU6zA16V5CnNyicAAerpXAKQLhC0Mbw/0" alt="">
        <h3 class="bill-i-name">教练好PTHOLA 小黑</h3>
        <p class="bill-month">本月当前奖励值<em id="show1">20%奖励</em></p>
        <div class="pros-bg">
            <div class="bill-t clearfix">
                <p class="b-t-p1 float-left"><i class="icon-circle-arrow-up"></i>当月个人消费达<em>￥200</em></p>
                <p class="b-t-p2 float-right"><em>+5%奖励</em><i>一级奖励提升</i></p>
            </div>
            <div class="progress">
                <h2 class="h2_one"><em>155%</em> <a href="">去购买</a></h2>
                <div class="bar pr1">
                    <div style="width: 155.5%;"></div>
                </div>
            </div>
        </div>

        <div class="pros-bg">
            <div class="bill-t clearfix">
                <p class="b-t-p1 float-left"><i class="icon-circle-arrow-up"></i>当月一级消费达<em>￥5000</em></p>
                <p class="b-t-p2 float-right"><em>+5%奖励</em><i>一级奖励提升</i></p>
            </div>
            <div class="progress">
                <h2 class="h2_to"><em>19%</em></h2>
                <div class="bar pr2">
                    <div style="width: 19.8%;"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bill-mask"></div>
<script>

    $(document).ready(function () {
        $("#a_up").on('click', function () {
            $('.bill-mask').fadeIn(300);
            $('.bill-show').removeAttr("class").addClass('animated bill-show bounceInDown').fadeIn();
        });
        //            关闭弹窗
        function hide() {
            $('.bill-mask').fadeOut(500, function () {
                $('.bill-show,.bill-show2').addClass('bounceOutUp').fadeOut();
            });
        }
        $('.bill-mask').on('touchstart', function () {
            hide();
        })
    })

</script>