﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "信息中心";
}
<style>
     .message-ul{
            padding-left: 20px;
           
        }
        .message-ul li
        {
             background: url(/Content/image/round27.png) no-repeat left 15px;
            background-size: 25px;
            border-bottom: 1px solid #dcdcdc;
            padding:10px 0 10px 10%;
            margin-bottom:5px;
        }
        .message-ul li p
        {
            line-height: 20px;
            font-size: 14px;
        }
        .message-ul li span
        {
            color: #959598;
            font-size: 12px;
            margin-top: 10px;
            display: block;
        }
</style>
<!--信息中心-->
    <div class="message">
        <div class="message-list">
            <ul class="message-ul">
                <li>
                    <div class="m-li-info">
                        <p>您购买的[黑能量健康料理减脂餐]已发货,由商家自己配送,手机号<em>15452545245</em>,请注意查收。</p>
                        <span>今天20:24</span>
                    </div>
                </li>
                <li>
                    <div class="m-li-info">
                        <p>您购买的[黑能量健康料理减脂餐]已发货,由商家自己配送,手机号<em>15452545245</em>,请注意查收。</p>
                        <span>今天20:24</span>
                    </div>
                </li>
                <li>
                    <div class="m-li-info">
                        <p>您购买的[黑能量健康料理减脂餐]已发货,由商家自己配送,手机号<em>15452545245</em>,请注意查收。</p>
                        <span>今天20:24</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
