﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "下级代理";
}
<link rel="stylesheet" href="~/Content/css/swiper-3.3.1.min.css" />
<style>
    .a-top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9990;
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,.5);
	color: #fff;
	text-indent: 1em;
	font-size: .35rem;
	line-height: 50px;
}

.swiper-slide .main-img {
	display: block;
	margin: 0 auto;
	width: 90%;
	border-radius: 8px;
}

body,html {
	height: 100%;
	background: #EBEBEB;
}

.swiper-container {
	width: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	perspective: 1200px;
}

.swiper-wrapper {
	margin-top: 10px;
}

.swiper-slide {
	padding-bottom: 25px;
	width: 90%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@@media screen and (min-height:481px) {
	.swiper-wrapper {
		margin-top: 20px;
	}

	#pagination {
		bottom: 110px;
	}
}

@@media screen and (min-height:569px) {
	.swiper-wrapper {
		margin-top: 40px;
	}
}

.swiper-container-horizontal>.swiper-pagination {
	bottom: 5px;
	color: #505050;
	font-size: .37rem;
}

.btn-ge {
	width: 100%;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 0 3px #ccc;
	font-size: .42rem;
	-webkit-appearance: none;
}

.c-ge {
	position: absolute;
	bottom: 25px;
	margin: 5% 0 0 0;
	padding: 0 20%;
	width: 100%;
}
</style>
<div class="a-top">
    无论推广哪款海报都将成为您的蛋百宝,带来持续收入!
</div>
<div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-active"><img src="http://7xnaef.com1.z0.glb.clouddn.com/pthola_market_poster_origin_12.png" class="main-img"></div>
        <div class="swiper-slide swiper-slide-next"><img src="http://7xnaef.com1.z0.glb.clouddn.com/pthola_market_poster_origin_7.png" class="main-img"></div>
        <div class="swiper-slide"><img src="http://7xnaef.com1.z0.glb.clouddn.com/pthola_market_poster_origin_6.png" class="main-img"></div>
        <div class="swiper-slide"><img src="http://7xnaef.com1.z0.glb.clouddn.com/pthola_market_poster_origin_5.png" class="main-img"></div>
        <div class="swiper-slide"><img src="http://7xnaef.com1.z0.glb.clouddn.com/pthola_market_poster_origin_4.png" class="main-img"></div>
        <div class="swiper-slide"><img src="http://7xnaef.com1.z0.glb.clouddn.com/pthola_market_poster_origin_2.png" class="main-img"></div>
        <div class="swiper-slide"><img src="http://7xnaef.com1.z0.glb.clouddn.com/pthola_market_poster_origin_8.png" class="main-img"></div>
        <div class="swiper-slide"><img src="http://7xnaef.com1.z0.glb.clouddn.com/pthola_market_poster_origin_1.png" class="main-img"></div>
        <div class="swiper-slide"><img src="http://7xnaef.com1.z0.glb.clouddn.com/pthola_market_poster_origin_3.png" class="main-img"></div>
    </div>
    <div class="swiper-pagination swiper-pagination-fraction"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">9</span></div>
</div>
<div class="c-ge">
    <input type="submit" class="btn btn-ge" value="生成我的海报">
</div>
<script src="~/Scripts/js/prefixfree.js"></script>
<script src="~/Scripts/js/jquery-1.10.1.min.js"></script>
<script src="~/Scripts/js/swiper-3.3.1.min.js"></script>
<script>
    window.onload = function () {
        var mySwiper = new Swiper(".swiper-container", {
            slidesPerView: "auto",
            centeredSlides: !0,
            watchSlidesProgress: !0,
            pagination: ".swiper-pagination",
            paginationClickable: !0,
            paginationType: 'fraction',
            onProgress: function (a) {
                var b, c, d;
                for (b = 0; b < a.slides.length; b++)
                    c = a.slides[b],
                            d = c.progress,
                            scale = 1 - Math.min(Math.abs(.2 * d), 1),
                            es = c.style,
                            es.opacity = 1 - Math.min(Math.abs(d / 2), 1),
                            es.webkitTransform = es.MsTransform = es.msTransform = es.MozTransform = es.OTransform = es.transform = "translate3d(0px,0," + -Math.abs(150 * d) + "px)"

            },
            onSetTransition: function (a, b) {
                for (var c = 0; c < a.slides.length; c++)
                    es = a.slides[c].style,
                            es.webkitTransitionDuration = es.MsTransitionDuration = es.msTransitionDuration = es.MozTransitionDuration = es.OTransitionDuration = es.transitionDuration = b + "ms"

            }
        });
    };
    $('.bill-mask').bind("click", function () {
        $(".bill-show").hide();
    });
</script>