﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "邀请奖励";
}
<script src="~/Scripts/js/prefixfree.js"></script>
<style>
     body,html{
            background-color: #EBEBEB;
        }
        .pro-bg {
            position: relative;
            padding: 3% 0;
            background: #505050;
        }
        .pro-content {
            text-align: center;
        }
        .pro-left, .pro-right {
            width: 50%;
            font-size: .4rem;
            color: #fff;
        }
        .pro-left {
            border-right: 1px solid #fff;
        }
        .pro-content button {
            width: 70%;
            background-color: #f35d68;
            font-size: .48rem;
            color: #fff;
            font-weight: 700;
        }
        .pro-left em, .pro-right em {
            font-size: .48rem;
            color: #f35d68;
            display: block;
        }
        .pro-main {
            padding: 10px 0;
        }
        .pro-ul li {
            position: relative;
            height: 65px;
            border-top: 1px solid #CECECE;
            background-color: #fff;
        }
        .pro-u-left {
            position: absolute;
            left: 20px;
            top: 10px;
        }
        .pro-u-left img {
            width: 25px;
            vertical-align: middle;
            margin-right: 3px;
            height: 25px;
            border-radius: 50%;
        }
        .pro-u-left .pro-u-time, .pro-u-left span {
            color: #505050;
            font-size: .32rem;
        }
        .pro-u-left span {
            font-weight: 700;
        }
        .pro-u-time {
            color: #b5b5b5!important;
        }
        .pro-u-right {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .pro-one {
            font-size: .48rem;
            color: #f35d68;
            text-align: right;
        }
        .pro-one b {
            font-weight: 700;
            font-size: .48rem;
        }
        .pro-u-right p em {
            background-color: #525252;
            color: #fff;
            border-radius: 10px;
            padding: 0 10px;
            display: inline-block;
            font-size: .32rem;
            height: .39rem;
            line-height: .39rem;
        }
</style>
<div class="pro-bg">
    <div class="pro-content clearfix">
        <div class="pro-left float-left">
            <p>历史奖励总额<em>￥117.30</em></p>
        </div>
        <div class="pro-right float-right">
            <p>本月奖励<em>￥99.00</em></p>
        </div>

    </div>
</div>
<div class="pro-main">
    <ul class="pro-ul">
        <li>
            <div class="pro-u-left">
                <img src="http://wx.qlogo.cn/mmopen/YniaciaibKpu7ONCnQgR6lpH4ibmVPputIvYcFOMQNoK8e2iaMy6OoT0aKx3miaPTtDO7R117Iwzk7eKNuoxaxytDktroQvO3FvzlO/0" alt=""><span>邀请奖励</span>
                <p class="pro-u-time">2016-05-08 11:45:39 <em>0.05</em>元</p>
            </div>
            <div class="pro-u-right">
                <h2 class="pro-one">￥<b>0.05</b></h2>
            </div>
        </li>
    </ul>
    <div class="nothing2" style="display:none">没有数据可加载</div>
</div>