﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "";
}
<link rel="stylesheet" href="~/Content/css/swiper-3.3.1.min.css" media="all" />
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" media="all" />
<style>
    .icon-exclamation-sign {
        color: #f00;
    }

    body {
        background-color: #fbf9fe;
    }

    .top-tabs {
        background-color: #fff;
    }

        .top-tabs a {
            width: 50%;
            float: left;
            text-align: center;
            padding: 15px 0;
            color: #505050;
            display: block;
            border-bottom: 1px solid #f4f5f4;
        }

            .top-tabs a.a-active {
                color: #EF4F4F;
                border-bottom: 1px solid #EF4F4F;
                /*padding: 15px 0 16px;*/
            }

    .footer-fix {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        z-index: 9999;
        background-color: #fff;
    }

        .footer-fix a {
            width: 50%;
            float: left;
            display: block;
            color: #505050;
            border-top: 1px solid #d9d9d9;
        }

            .footer-fix a:first-child {
                border-right: 1px solid #d9d9d9;
            }

    .content-input {
        height: 50px;
        line-height: 50px;
        background-color: #fff;
    }

        .content-input input {
            border: 0;
            -webkit-appearance: none;
            height: 30px;
            line-height: 30px;
            text-indent: 1em;
            width: 70%;
        }

            .content-input input::-webkit-input-placeholder {
                font-size: 14px;
            }

            .content-input input:active, .content-input input:focus {
                border: 0;
            }

    .content-num ul {
        padding: 5% 0 0 7%;
    }

        .content-num ul li.active, .content-flow ul li.active {
            color: #EF4F4F;
            border: 1px solid #EF4F4F;
        }

            .content-flow ul li.active a {
                color: #EF4F4F;
            }

        .content-num ul li {
            width: 30%;
            float: left;
            text-align: center;
            background: #fff;
            margin: 0 5px 5px 0;
            border-radius: 5px;
            padding: 5px 0;
            border: 1px solid #eee;
            color: #A9A9A9;
        }

            .content-num ul li p {
                font-size: 16px;
                line-height: 15px;
            }

            .content-num ul li em {
                font-size: 12px;
            }

    .content-flow {
        padding: 5% 10%;
        background: #FBFBFB;
    }

        .content-flow ul li {
            padding: 3% 5%;
            width: 23%;
            float: left;
            text-align: center;
            border: 1px solid #eee;
            margin: 0 5px 5px 0;
            border-radius: 5px;
        }

            .content-flow ul li a {
                color: #505050;
            }

    .content-list h3 {
        text-indent: .5em;
        font-size: 15px;
        line-height: 35px;
    }

    .content-list ul li {
        background-color: #fff;
        padding: 5px 10px;
        position: relative;
        border-bottom: 1px solid #f4f5f4;
    }

        .content-list ul li p {
            font-size: 12px;
            color: #C7C7C7;
            padding-right: 72px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

            .content-list ul li p:nth-child(1) {
                color: #5E5E5E;
                font-size: 14px;
            }

                .content-list ul li p:nth-child(1) em {
                    text-decoration: line-through;
                    font-size: 12px;
                    color: #C7C7C7;
                }

        .content-list ul li button {
            position: absolute;
            right: 10px;
            top: 20px;
            background: #EF4F4F;
            color: #fff;
            padding: 5px 20px;
        }

    .content-inner {
        padding: 20px 30px;
    }

        .content-inner button {
            width: 100%;
            background-color: #EF4F4F;
            color: #fff;
        }
</style>
<div class="top-tabs clearfix">
    <a href="javascript:;" class="a-active">充话费</a>
    <a href="javascript:;">充流量</a>
</div>
<div id="tabs-container" class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="content-slide">
                <div class="content-input">
                    <input type="tel" id="phone" max-length="11" placeholder="请输入充值手机号" />
                    <span class="result"></span>
                    <!--<i class="icon-user"></i>-->
                </div>
                <div class="content-num">
                    <ul class="clearfix">
                        <li class="active">
                            <p>30元</p>
                            <em>售价29.97</em>
                        </li>
                        <li>
                            <p>30元</p>
                            <em>售价29.97</em>
                        </li>
                        <li>
                            <p>30元</p>
                            <em>售价29.97</em>
                        </li>
                        <li>
                            <p>30元</p>
                            <em>售价29.97</em>
                        </li>
                        <li>
                            <p>30元</p>
                            <em>售价29.97</em>
                        </li>
                        <li>
                            <p>30元</p>
                            <em>售价29.97</em>
                        </li>
                        <li>
                            <p>30元</p>
                            <em>售价29.97</em>
                        </li>
                        <li>
                            <p>30元</p>
                            <em>售价29.97</em>
                        </li>
                    </ul>
                </div>
                <!--
                                <div class="content-inner">
                                    <button type="button" class="btn">立即支付</button>
                                </div>
                -->
            </div>
        </div>
        <div class="swiper-slide">
            <div class="content-slide">
                <div class="content-input">
                    <input type="tel" placeholder="请输入充值手机号" />
                    <span>四川联通</span>
                    <i class="icon-user"></i>
                </div>
                <div class="content-flow">
                    <ul class="clearfix">
                        <li class="active"><a href="javascript:;">2G</a></li>
                        <li><a href="javascript:;">1G</a></li>
                        <li><a href="javascript:;">500M</a></li>
                        <li><a href="javascript:;">300M</a></li>
                        <li><a href="javascript:;">100M</a></li>
                        <li><a href="javascript:;">50M</a></li>
                        <li><a href="javascript:;">30M</a></li>
                        <li><a href="javascript:;">10M</a></li>
                    </ul>
                </div>
                <div class="content-list">
                    <h3>1G流量包</h3>
                    <ul>
                        <li>
                            <p><span>27.50</span>元<em>30.0元</em></p>
                            <p>本地可用,即时生效,当月有效,不支持4G用户</p>
                            <p>每月限充5次</p>
                            <button type="button" class="btn">购买</button>
                        </li>
                        <li>
                            <p><span>27.50</span>元<em>30.0元</em></p>
                            <p>本地可用,即时生效,当月有效,不支持4G用户</p>
                            <p>每月限充5次</p>
                            <button type="button" class="btn">购买</button>
                        </li>
                        <li>
                            <p><span>27.50</span>元<em>30.0元</em></p>
                            <p>本地可用,即时生效,当月有效,不支持4G用户</p>
                            <p>每月限充5次</p>
                            <button type="button" class="btn">购买</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div class="bk5"></div>
<div class="footer-fix clearfix">
    <a href=""><i class="icon-home"> 我的移动营业厅</i></a>
    <a href=""><i class="icon-credit-card"> 我的充值记录</i></a>
</div>
<script src="~/Scripts/js/jquery-1.10.1.min.js"></script>
<script src="~/Scripts/js/swiper-3.3.1.min.js"></script>
<script>
    window.onload=function(){

        var tabsSwiper = new Swiper('#tabs-container',{
            speed:500,
            onSlideChangeStart: function(){
                $(".top-tabs .a-active").removeClass('a-active');
                $('.top-tabs a').eq(tabsSwiper.activeIndex).addClass('a-active')
            }
        });
        $('.top-tabs a').on('touchstart mousedown',function(e){
            e.preventDefault();
            $(".top-tabs .a-active").removeClass('a-active');
            $(this).addClass('a-active');
            tabsSwiper.slideTo( $(this).index() )
        });
        $('.top-tabs a').click(function(e){
            e.preventDefault();
        })

    }
</script>
<script>
    $(function () {
        $('#phone').on('keyup', function () {
            var $this = $(this);
            var val = $this.val();

            $this.val(val.replace(/\D/g, ''));

            $('.result').html('<i class="icon-exclamation-sign"></i>');
            if (val.length >= 11) {
                $.get('http://apis.juhe.cn/mobile/get', {
                    'phone': val,
                    'key': '184115a7f952bcef0eec3c6f860a3522'
                }, function (data) {
                    //console.log(data);
                    if (data && data['result'] && data['resultcode'] == 200) {
                        $('.result').html(data['result']['province'] + '-' + data['result']['company']);
                    } else $('.result').html(data['reason']);
                }, 'jsonp');
            }
        });

    });
</script>