﻿@using Raoke10086.Wechat.Extensions
@model Raoke10086.Wechat.ViewModels.ShopTradeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "填写订单";
}


<link rel="stylesheet" href="~/Content/css/bounces.css" media="all" />
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" media="all" />
<link rel="stylesheet" href="~/Content/css/order.css" media="all" />
<style>
    body{
        background:#F1F1F5;
    }
        .bill-show{
            position: fixed;
            width: 95%;
            /*height: 100%;*/
            top: 10%;
            left: 50%;
            z-index:9999;
            padding: 10px;
            border-radius: 5px;
            margin-left: -47.5%;
            background-color: #fff;
            display: none;
            box-shadow: 0 0 3px #ccc;
        }
        .bill-show i{
            position: absolute;
            top: -35px;
            right: 0;
            font-size: 30px;
            z-index: 9991;
            color: #fff;
            display: block;
        }

        .bill-mask{
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            top:0;
            left: 0;
            display: none;
        }
        .control select{
            width: 32%;
            -webkit-appearance: none;
            padding: 11px 10px;
            margin-right: 1px;
            position: relative;
            color: #A9A9AE;
            border:1px solid #a9a9a9;
            font-size: 14px;
            display:inline;
        }
        .control select:after{
            position: absolute;
            top: 15px;
            right: 7px;
            width: 0;
            height: 0;
            border-top: 10px solid #fff;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            content: '';
        }
        .control select:last-child{
            margin-right: 0;
        }
        .control textarea{
            border:1px solid #a9a9a9;
            resize: none;
        }
        .no-adress{
            text-align: center;
            color: #a9a9a9;
        }

        .btn {
            display: inline-block;
            padding: 12px 8px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-appearance: none;
            width: 100%;
            border:1px solid #f23030;
            background-color: #f23030;
            color: #fff;
        }

</style>
<div class="order-msg">
    <div class="order-msg-adress">
        <a href="javascript:;" id="more-adress">
            <div class="mt-adr" >
                <div class="mt_new">
                    <div class="s1-name">
                        <span>马杰</span>
                    </div>
                    <div class="s1-phone">
                        <span>185****9952</span>
                    </div>
                </div>
                <div class="mc">
                    <i class="location-pic"></i> 四川成都市成华区城区青龙场555号
                </div>
            </div>
            <p class="no-adress" style="display: none;">请新建收货地址以确保商品顺利到达</p>

        </a>

        <b class="s1-borderB"></b>
        <span class="s-point"></span>
    </div>
    <div class="order-middle">
        <div class="order-s-list">
            <div class="order-item">
                <div class="order-con">
                    <div class="order-i-img">
                        <img src="@Model.Product.Cover" alt="">
                    </div>
                    <div class="order-s-m">
                        <p class="order-txt">@Model.Product.Title</p>
                        <p class="sitem-btm-detail">
                            <span>×@Model.Number</span>
                            <span class="seven-return rtn-ok"><img src="~/Content/image/seven.png" width="17" height="15">支持7天无理由退货</span>
                        </p>
                    </div>
                    <div class="sitem-r cost-price">@Model.Product.SalePrice.ToString("C")</div>
                </div>
            </div>
            <div class="pro-stock">
                <span class="part-note-msg spec-msg">库存</span>
                <div class="spec-info">
                    <em>@Model.Product.Stock</em>
                    <span>(全网销量@(Model.Product.Sold))</span>
                </div>
            </div>
            <div class="order-item item2">
                <div class="step2">
                    <a href="">
                        <span class="pay-item">
                            <p class="pay-deliver-title">支付配送</p>
                            <p class="pay-deliver-way">
                                <span class="pay-way">微信支付</span> <span class="deliver-way">默认快递</span>
                            </p>
                            <span class="point-left"></span>
                        </span>
                        <span class="deliver-time">
                            <p class="small-goods-deliver">
                                <span class="small-goods-deliver-time">
                                    <i class="clock-pic"></i>@DateTime.Today.Delivery(2)
                                </span>
                            </p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="step5">
        <div class="s-item clearfix">
            <div class="sitem-l">
                商品金额
            </div>
            <div class="sitem-r">
                @((Model.Product.SalePrice*Model.Number).ToString("C"))
            </div>
        </div>
        <div class="s-item clearfix">
            <div class="sitem-l">
                运费
            </div>
            <div class="sitem-r">
                @Model.Product.PostPrice.ToString("C")
            </div>
        </div>
    </div>
</div>
<div class="bk5"></div>
<!--    footer-->
<div class="pay-fix">
    <div class="pay-con">
        实付款：
        <span id="payMoney">@((Model.Product.SalePrice * Model.Number+ Model.Product.PostPrice).ToString("C"))</span>
    </div>
    <a class="pay-btn" href="javascript:;">
        去支付
    </a>
</div>


<!--弹出层-->
<div class="bill-show">
    <i class="icon-remove-sign" id="close-show"></i>
    <div class="control">
        <input type="text" class="form-control" placeholder="收货人姓名" />
    </div>
    <div class="control">
        <input type="text" class="form-control" placeholder="手机号码" />
    </div>
    <div class="control">
        <select name="" class="form-control">
            <option value="1">四川省</option>
        </select>
        <select name="" class="form-control">
            <option value="2">成都市</option>
        </select>
        <select name="" class="form-control">
            <option value="3">成华区</option>
        </select>
    </div>
    <div class="control" class="form-control">
        <textarea name="" id="" rows="4" class="form-control" placeholder="详细街道地址"></textarea>
    </div>

    <div class="control" class="form-control">
        <button type="submit" class="btn" >保存并使用</button>
    </div>
</div>
<div class="bill-mask"></div>
<script src="~/Scripts/js/jquery-1.10.1.min.js"></script>
<script>
        $(function(){

            $("#more-adress").on('touchstart',function(e){
                $('.bill-mask').fadeIn(300);
                $('.bill-show').removeAttr("class").addClass('animated bill-show bounceInDown').fadeIn();
                e.stopPropagation();
            });
            $('#close-show').on('touchstart',function(e){
                $('.bill-mask').fadeOut(300);
                $('.bill-show').addClass('bounceOutUp').fadeOut();
                e.stopPropagation();
            })
        })
</script>
